.a1 {
    text-align: center;
}

.a2 {
    color: red;
}

#a3 {
    font-style: italic;
}

#a4 {
    font-weight: bold;
}

h1,
.a3 {
    font-family: 宋体;
}

h1 {
    text-shadow: 3px 3px 2px;
}

h2 {
    color: gray
}

#a3,
#a4,
#a5 {
    text-indent: 2em;
}