h2 {
    background-color: #518600;
    color: white;
}

div {
    width: 500px;
    background-color: #F9FBD4;
}

ul {
    list-style: none;
}

a[href] {
    text-decoration: none;
}

a[href]:hover {
    text-decoration: underline;
}